/* Fuente Personalizada */
@font-face {
	font-family: myFont;
	src: url(../font/DancingScript.ttf);
}

/* Control de Imágenes */
img {
	border-radius: 2px solid #02010a;;
	padding: 5px;
	width: 350px;
	display: block;
	margin: auto;
    border: 2px solid #02010a;
    box-shadow: 10px 10px 5px #02010a;
    -moz-box-shadow: 10px 10px 5px #02010a;
    -webkit-box-shadow: 10px 10px 5px #02010a;
	-khtml-box-shadow: 10px 10px 5px #02010a;
  }

/* Control de Renderizado */
.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container div {
	box-sizing: border-box;
	min-width: 150px;
	max-width: 900px;
	padding: 20px;
}

.c1 {
	color: black;
	background-color: #5b7989;
	border-radius: 2px;
}

.c2 {
	color: black;
	background-color: #02010a;
	border-radius: 2px;
}

.c3 {
	color: black;
	background-color: #82c3a6;
	border-radius: 2px;
}

.c4 {
	color: black;
	background-color: #d5c75f;
	border-radius: 2px;
}

.c5 {
	color: white;
	background-color: #d5c75f;
	border-radius: 2px;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5 {
	width: 100%;
}

@media (min-width: 600px) {
	.c3 {
		width: 100%;
	}
	.c4, .c5 {
		width: 100%;
	}
}

@media (min-width: 800px) {
	.c1 {
		width: 100%;
	}

	.c2 {
		width: 100%;
	}

	.c3 {
		width: 100%;
	}

	.c4, .c5 {
		width: 50.00%;
	}

	.container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
body {
	margin-left: 15%;
	width: 70%;
	background-color: #000000;
	font-family: myFont;
	font-size: 18;
}
/*Personalización de vínculos*/
a:link, a:visited {
	background-color: green;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18;
  }
  footer {
	clear: both;
	border-top: solid 10px #605B56;
	padding-top: 10px;
	margin-top: 15px;
	text-align: center;
	font-family: myFont;
	color: lightblue;
}