/* Fuente Personalizada */
@font-face {
	font-family: myFont;
	src: url(../font/DancingScript.ttf);
}

/* Margen del header */
header{
	padding: 3px 5px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(left, #5b7989 , #5b7989); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #5b7989 , #5b7989); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #5b7989 , #5b7989); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #5b7989 , #5b7989); /* Standard syntax */
	border-radius: 10px;
	font-family: myFont;
	font-size: 18;
}

/* Margenes del body */
body {
	margin-left: 15%;
	width: 70%;
	background-color: #02010a;
	font-family: myFont;
	font-size: 18;
}
#menu-principal ul {
	padding: 0;
	margin: 0;
	display: inline;
	font-family: myFont;
	font-size: 15;
}
#menu-principal ul li {
	list-style-type: none;
	display: inline;
	font-family: myFont;
	font-size: 15;
}

/* Margen del pie de página */
footer {
	clear: both;
	border-top: solid 10px #605B56;
	padding-top: 10px;
	margin-top: 15px;
	text-align: center;
	font-family: myFont;
}

/*Personalización de vínculos*/
a:link, a:visited {
	background-color: green;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20;
  }

/* Personalización de contenedor */
.container div {
	box-sizing: border-box;
	min-width: 500px;
	padding: 10px;
}
.c1 {
	color: white;
	text-shadow: 2px 2px 2px #02010a;
}
.c2 {
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	background-color: #02010a;
	border-radius: 2px;
	margin: 2px;
	
}
.c3 {
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	background-color: #82c3a6;
	border-radius: 2px;
	margin: 2px;
}
.c4 {
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	background-color: yellow;
	border-radius: 2px;
	margin: 2px;
}
.c5 {
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	background-color: green;
	border-radius: 2px;
	margin: 2px;
}
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

@media (min-width: 450px) {
.c2 {
		width: 100%;
}}
.c3 {
	width: 100%;
	
}
.c4, .c5 {
		width: 49.6%;
}
img {
	border-radius: 2px;
	padding: 5px;
	width: 350px;
	align-content: center;
	width: 400px;
    height: 200px;
    border:2px solid #02010a;
    box-shadow: 10px 10px 5px #02010a;
    -moz-box-shadow: 10px 10px 5px #02010a;
    -webkit-box-shadow: 10px 10px 5px #02010a;
	-khtml-box-shadow: 10px 10px 5px #02010a;
  }
